/* desktop */

/* menu_desktop_static */
/* .secondary_nav  */
.mobile_menu,
.secondary_nav {
  display: none;
}

.menu_desktop_static > .menu_container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "social social"
    "logo contact"
    "logo nav" !important;
  /* outline: 1px green solid; */
  row-gap: 0.5rem;
  padding-top: 2rem;
  background-color: transparent;
  z-index: 100;
}

.menu_desktop_static > .menu_container > .logo {
  grid-area: logo;
  justify-self: flex-start !important;
  z-index: 1000;
}

.menu_desktop_static > .menu_container > .nav_social {
  grid-area: social;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
  z-index: 1000;
}

.menu_desktop_static > .menu_container > .nav_contact {
  grid-area: contact;
  z-index: 1000;
}

.menu_desktop_static > .menu_container > .primary_nav {
  grid-area: nav;
  z-index: 1000;
}

.menu_desktop_static > .menu_container > :is(.nav_contact, .primary_nav) {
  justify-self: flex-end;
  align-self: center;
}


.menu_desktop_static > .desktop_dropdown{
  position:absolute;
  /* background-color: green; */
  /* background: var(--blue-gradient); */
  background-color: var(--clear-blue);
  background-image: linear-gradient(331deg, rgba(4, 41, 112, 0), rgba(4, 41, 112, .8)), url('../../public/assets/service-nav/Asnan-Curves-BG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top:0;
  padding-top: 15%;
  left: 0;
  width: 100%;
}

/* menu on mobile */

@media (max-width: 980px) {
  .menu_desktop_static > .desktop_dropdown{
    display: none;
  }

  /* burger */
  
  .menu_desktop_static > .menu_container > .mobile_menu {
    display: flex;
    justify-self: flex-end;
  }

  .menu_desktop_static > .menu_container > .mobile_menu > .mobile_nav_toggle {
    display: block;
    z-index: 2000;
    background: transparent;
    border: 0;
    background-image: url("../../public/assets/menu/Asnan-menu-bars.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
    position: relative;
  }

  .menu_desktop_static > .menu_container > .mobile_menu > .mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("../../public/assets/menu/close-cross-icon.svg");
  }

  .menu_desktop_static > .menu_container > .secondary_nav {
    padding-inline: 1rem;
    position: absolute;
    padding-top: 30%;
    top: 0%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    /* background-color: blueviolet; */
    background-color: var(--bright-sky-blue);
    background-image: linear-gradient(331deg, rgba(4, 41, 112, .4) 5% , rgba(4, 41, 112, .8)), url('../../public/assets/service-nav/Asnan-Curves-BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    transform: translateX(100%);
  }

  .menu_desktop_static > .menu_container > .secondary_nav[data-visible="true"] {
    display: inherit;
    transform: translateX(0%);
  }

  .menu_desktop_static > .menu_container > .secondary_nav[data-visible="false"] {
    display: none;
  }

  /* menu mobile view */

  .menu_desktop_static > .menu_container > .nav_social {
    display: none;
  }

  .menu_desktop_static > .menu_container > .primary_nav {
    display: none;
  }

  .menu_desktop_static > .menu_container {
    width: 100%;
    grid-template-areas:
      "contact . burger"
      "contact logo burger" !important;
    /* "nav nav nav" !important; */
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    align-items: center;
    background-color: transparent;
  }

  .menu_desktop_static > .menu_container > .logo {
    grid-area: logo;
    justify-self: center !important;
    z-index: 2000;
  }

  .menu_desktop_static > .menu_container > .nav_contact {
    grid-area: contact;
    justify-self: flex-start;
    z-index: 2000;
  }

  .menu_desktop_static > .menu_container > .mobile_menu {
    grid-area: burger;
  }

}

/* menu on scroll */

/* desktop */

.onscroll_menu_desktop > .menu_container {
  display: grid;
  width: 100%;
  grid-template-areas: "logo nav contact" !important;
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  background-color: transparent;
}

.onscroll_menu_desktop > .menu_container > .logo {
  grid-area: logo;
  justify-self: flex-start;
  z-index: 1000;
}

.onscroll_menu_desktop > .menu_container > .primary_nav {
  grid-area: nav;
  z-index: 1000;
}

.onscroll_menu_desktop > .menu_container > .nav_contact {
  grid-area: contact;
  justify-self: flex-end;
  z-index: 1000;
}

/* adjustments */

.onscroll_menu_desktop > .menu_container > .logo > img {
  width: 50%;
}

/* change header on scroll */

.onscroll {
  position: fixed;
  background-color: var(--white);
  color: grey !important;
}

.notscroll {
  color: var(--white);
  background-color: transparent !important;
  /* position: relative; */
  position: absolute;
}

.onscroll_menu_desktop > .desktop_dropdown{
  position:absolute;
  top:0;
  padding-top: 6%;
  left: 0;
  width: 100%;
  background-color: var(--clear-blue);
  background-image: linear-gradient(331deg, rgba(4, 41, 112, 0), rgba(4, 41, 112, .8)), url('../../public/assets/service-nav/Asnan-Curves-BG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* onscroll mobile */

@media (max-width: 980px) {
  /* scroll */

  .onscroll_menu_desktop > .menu_container > .primary_nav {
    display: none;
  }

  .onscroll_menu_desktop > .menu_container > .nav_contact {
    display: none;
  }

  .onscroll_menu_desktop > .menu_container {
    grid-template-areas:
      "logo burger" !important;
    grid-template-columns: auto min-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
  }


  .onscroll_menu_desktop > .menu_container > .logo {
    grid-area: logo;
    justify-self: center !important
  }

  .onscroll_menu_desktop > .menu_container > .mobile_menu {
    grid-area: burger;
  }

  .onscroll_menu_desktop > .menu_container > .mobile_menu > .mobile_nav_toggle {
    filter: invert(1);
  }

  /* .onscroll_menu_desktop > .menu_container > .nav_contact {
    grid-area: contact;
    justify-self: flex-start;
    z-index: 2000;
  } */

  /* adjustments */
  /* .onscroll_menu_desktop > .menu_container > .logo > img{
    width: 90%;
  } */

  /* onscroll open menu */

  .onscroll_menu_desktop.onscroll_open_menu > .menu_container {
    width: 100%;
    grid-template-areas:
      "contact . burger"
      "contact logo burger" !important;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    align-items: center;
    background-color: transparent;
  }

  .onscroll_menu_desktop.onscroll_open_menu  > .menu_container > .nav_contact {
    display: block;
  }

  .onscroll_menu_desktop.onscroll_open_menu > .menu_container > .logo {
    grid-area: logo;
    justify-self: center !important
  }

  .onscroll_menu_desktop.onscroll_open_menu > .menu_container > .mobile_menu {
    grid-area: burger;
  }

   .onscroll_menu_desktop.onscroll_open_menu > .menu_container > .nav_contact {
    grid-area: contact;
    justify-self: flex-start;
    z-index: 2000;
  }

   /* adjustments */
  .onscroll_menu_desktop.onscroll_open_menu > .menu_container > .logo > img{
    width: 90%;
  }

  /* burger */

  .onscroll_menu_desktop.onscroll_open_menu  > .menu_container > .mobile_menu > .mobile_nav_toggle{
    filter: invert(1) !important;
  }



  /* normal scroll */
  /* burger */

  
  
  .onscroll_menu_desktop > .menu_container > .mobile_menu {
    display: flex;
    justify-self: flex-end;
  }

  .onscroll_menu_desktop > .menu_container > .mobile_menu > .mobile_nav_toggle {
    display: block;
    z-index: 2000;
    background: transparent;
    border: 0;
    background-image: url("../../public/assets/menu/Asnan-menu-bars.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
    position: relative;
  }

  .onscroll_menu_desktop > .menu_container > .mobile_menu > .mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("../../public/assets/menu/close-cross-icon.svg");
  }

  .onscroll_menu_desktop > .menu_container > .secondary_nav {
    padding-inline: 1rem;
    position: absolute !important;
    padding-top: 18%;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    color: white !important;
    background-color: var(--bright-sky-blue);
    background-image: linear-gradient(331deg, rgba(4, 41, 112, .4) 5% , rgba(4, 41, 112, .8)), url('../../public/assets/service-nav/Asnan-Curves-BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    /* z-index: 1000; */
    /* background-color: blueviolet; */
    transform: translateX(100%);
  }

  .onscroll_menu_desktop > .menu_container > .secondary_nav[data-visible="true"] {
    display: inherit;
    transform: translateX(0%);
  }

  .onscroll_menu_desktop > .menu_container > .secondary_nav[data-visible="false"] {
    display: none;
  }

 
}

/* .onscroll.sticky_mobile{
  position: relative !important;
} */
