.social_mobile{
  display: none;
}

.nav_social{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
}

.nav_social > ul{
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 980px) {
  .social_desktop{
    display: none;
  }

  .social_mobile{
    display: block;
  }

  .social_mobile > .nav_social > ul > li > a{
    display: block;
    border: solid 1px rgba(255, 255, 255, 0.21);
    padding: 1rem;
    border-radius: 10px;
  }
  .social_mobile > .nav_social > ul > li > a >img{
    width: 100%;
  }
}