@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700&display=swap');
:root {

  /* colors */

  /* main colors */

  --clear-blue: #2c8eff;
  --accent-yellow: #ffc936;
  --black: #000000;
  --gunmetal: #50595c;
  --bluish-grey: #838e91;
  --cloudy-blue: #b8c2c4;
  --duck-egg-blue: #d6dee0;

  /* blue gradient */

  --bright-sky-blue: #00c4ff;
  --blue-gradient:  linear-gradient(to right, var(--bright-sky-blue), var(--clear-blue));

  /* black gradient */

  --white: #ffffff;
  --black-gradient: linear-gradient(to left, var(--black-0) 100%, var(--black));

  /* typography */

  --ff-primary: 'League Spartan', sans-serif;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-light: 300;

  --fs-600: 87px;
  --fs-500: 65px;
  --fs-400: 56px;
  --fs-300: 39px;
  --fs-200: 26px;
  --fs-100: 19px;
  --fs-50: 17px;

  --fs-major-headline: var(--fs-600);
  --fs-headline-1: var(--fs-500);
  --fs-headline-2: var(--fs-400);
  --fs-sub-headline: var(--fs-300);
  --fs-big-body: var(--fs-200);
  --fs-body-1: var(--fs-100);
  --fs-nav: 17px;
  --fs-nav-tel: 30px;
  --fs-nav-ar: 15px;
  --fs-nav-req: 15px;
  --fs-droptitle: var(--fs-500);
  --fs-drop-p: var(--fs-100);
  --fs-close: 15px;


}

/* mobile & tablet */
@media (max-width: 980px) {
  :root {
    --fs-nav-tel: 12px;
    --fs-nav-req: 12px;
  }
}

/* ------------- */
/* Reset         */
/* ------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins    */

body,
h1,
h2,
h3,
p,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: var(--fw-400);
}

/* Remove list styles on ul, ol elements with a list role,
 which suggests default styling will be removed */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* h1{
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  line-height: var(--line-height-h1);
  color: var(--Very-vark-blue);
} */



body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-primary);
  /* background-color: grey; */
  /* line-height: var(--line-height-p);
  font-family: var(--ff-kumbh-sans);
  font-size: var(--fs-p);
  font-weight: var(--fw-400);
  background-color: var(--White);
  color: var(--Dark-grayish-blue); */
  /* to strech out elements */
  display: grid;
  /* z-index: -1; */
 
}

#__next {
  min-height: 100vh;
  
}

/* Make images easier to work with */

img,
picture {
  /* max-width: 100%; */
  display: block;
}

picture{
   width: 100%;
   height: 100%;
}
figure{
  margin:0;
}

header {
  /* position: fixed; */
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

button{
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------- */
/* Utility Classes  */
/* ------------- */

.container {
  padding-inline: 3em;
  margin-inline: auto;
  max-width: 80rem;
}
/* mobile & tablet */
@media (max-width: 980px){
  .container {
    padding-inline: 2em;
  }
}

/* mobile & tablet */
@media (max-width: 500px){
  .container {
    padding-inline: 1em;
  }
}

/* for visually imapaired */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.nav-fs{
  font-size: var(--fs-nav);
  font-weight: var(--fw-light);
  line-height: normal;
  /* color:var(--white); */
}

.nav-tel{
  font-size: var(--fs-nav-tel);
  font-weight: var(--fw-bold);
  color: var(--white);
}

.nav-ar{
  font-size: var(--fs-nav-ar);
  color: var(--white);
}

.nav-req{
  font-size: var(--fs-nav-req);
  color: var(--white);
}

.droptitle{
  font-size: var(--fs-droptitle);
  font-weight: var(--fw-bold);
  line-height: normal;
  color: var(--white);
}

.drop-p{
  font-size: var(--fs-drop-p);
  font-weight: var(--fw-light);
  line-height: 1.21;
  color: var(--white);
}

.close-p{
  font-size: var(--fs-close);
  font-weight: var(--fw-light);
  line-height: normal;
  color: var(--white);

}





